<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>login</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="RoseBloom Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../style/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link href="../style/css_slider.css" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="../style/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../style/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->

    <link rel="stylesheet" href="../style/login.css">
    <!-- Login-CSS -->

	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Niconne&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>
<body>
    <div class="container">
        <div class="title"> Login </div>

        <form action="../../LoginPage" method="post">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" id="email" placeholder="Enter your email" onblur="submitForm()" required>
                    <label name="msgEmail" id="msgEmail"></label>
                </div>
                <div>
                    <span></span>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your Password" required>
                    <label name="msgId" id="msgId"></label>
                </div>
                
            </div>
            <div class="input-box">
                <br>
                <input type="checkbox" id="checkbox" name="checkbox">
                <span class="details">Remember me</span>
            </div>
            <div class="button">
                <input type="submit" value="Submit" >
            </div>
            <div class="have-account ">
                <a href="signup.html" style="color:  #FF5722;">
                    <span class="details">Don't have an account</span>
                </a>
            </div>
        </form>
    </div>

    <script src="../scripts/login.js"></script>

</body>

</html>