<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eCommerce Product Detail</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../style/product_style.css">
 
</head>

<body>

    <div class="container">
        <div class="card" style="background-color: white;">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="../images/LAVENDER.jpg" /></div>
                            <div class="tab-pane" id="pic-2"><img src="../images/LAVENDER2.jpg" /></div>
                            <div class="tab-pane" id="pic-3"><img src="../images/LAVENDER3.jpg" /></div>

                        </div>
                        <ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img
                                        src="../images/LAVENDER.jpg" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="../images/LAVENDER2.jpg" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="../images/LAVENDER3.jpg" /></a></li>

                        </ul>

                    </div>
                    <div class="details col-md-6">
                        <h3 class="product-title">LAVENDER</h3>
                        <div class="rating">
                            <div class="stars">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </div>
                            <span class="review-no">41 reviews</span>
                        </div>
                        <p class="product-description">Suspendisse quos? Tempus cras iure temporibus? Eu laudantium
                            cubilia sem sem! Repudiandae et! Massa senectus enim minim sociosqu delectus posuere.</p>
                        <h4 class="price">Price: <span>EGP 40</span></h4>
                        <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong>
                        </p>
                        <h5 class="sizes">sizes:
                            <span class="size" data-toggle="tooltip" title="small">s</span>
                            <span class="size" data-toggle="tooltip" title="medium">m</span>
                            <span class="size" data-toggle="tooltip" title="large">l</span>
                            <span class="size" data-toggle="tooltip" title="xtra large">xl</span>
                        </h5>


                        <div class="quantity">
                            Quantity:
                            <a href="#" class="quantity__minus"><span>-</span></a>
                            <input name="quantity" type="text" class="quantity__input" value="1">
                            <a href="#" class="quantity__plus"><span>+</span></a>
                        </div>


                        <div class="action">
                            <button class="add-to-cart btn btn-default" type="button">add to cart</button>
                            <button class="like btn btn-default" type="button"><span
                                    class="fa fa-heart"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" mt-5 text-center">

                <img src="../images/leaves1.PNG" />

                <div>
                    <table class=" table">

                        <tbody>
                            <tr>
                                <th scope="row">Sun</th>
                                <td>Mark</td>
                                <td>image</td>

                            </tr>
                            <tr>
                                <th scope="row">Soil</th>
                                <td>Jacob</td>
                                <td>Thornton</td>

                            </tr>
                            <tr>
                                <th scope="row">Water</th>
                                <td>Larry</td>
                                <td>the Bird</td>

                            </tr>
                            <tr>
                                <th scope="row">Growth Cycle</th>
                                <td>Larry</td>
                                <td>the Bird</td>

                            </tr>
                            <tr>
                                <th scope="row">Growth Rate</th>
                                <td>Larry</td>
                                <td>the Bird</td>

                            </tr>
                            <tr>
                                <th scope="row">maintenance</th>
                                <td>Larry</td>
                                <td>the Bird</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <img src="../images/leaves1.PNG" />
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src="../scripts/productsScript.js"></script>
</body>

</html>