<!DOCTYPE html>
<html lang="zxx">

<head>
	<title>Registration Form</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="RoseBloom Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Meta tag Keywords -->

	<!-- Custom-Files -->
	<link rel="stylesheet" href="../style/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link href="../style/css_slider.css" type="text/css" rel="stylesheet" media="all">
	<!-- banner slider -->
	<link rel="stylesheet" href="../style/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link href="../style/font-awesome.min.css" rel="stylesheet">
	<!-- Font-Awesome-Icons-CSS -->

    <link rel="stylesheet" href="../style/signup.css">
    <!-- Signup-CSS -->

	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i"
	 rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Niconne&amp;subset=latin-ext" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	 rel="stylesheet">
	<!-- //Web-Fonts -->
</head>
<body>
    <div class="container">
        <div class="title"> Registration </div>
        <form action="#">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="userName" placeholder="Enter your name" required>
                    <label name="msgUsername" id="msgUsername"></label>
                </div>
                <div class="input-box">
                    <span class="details">Birthday</span>
                    <input type="date" name="birthday" placeholder="Enter your Birthday" required>
                    <label name="msgBirthday" id="msgBirthday"></label>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="Enter your email" required>
                    <label name="msgEmail" id="msgEmail"></label>
                </div>
                <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="tel" name="phoneNo" placeholder="(01) 555-5555" pattern="^\(?\d{2}\)?[-\s]\d{3}[-\s]\d{4}.*?$" required>
                    <label name="msgPhoneNo" id="msgPhoneNo"></label>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Enter your Password" required>
                    <label name="msgPassword" id="msgPassword"></label>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="confirmPassword" placeholder="Confirm your password" required>
                    <label name="msgConfirmPass" id="msgConfirmPass"></label>
                </div>
                <div class="input-box">
                    <span class="details">Address</span>
                    <input type="text" name="address" placeholder="Enter your address" required>
                    <label name="msgAddress" id="msgAddress"></label>
                </div>
                <div class="input-box">
                    <span class="details">Credit Limit  </span>
                    <input type="text" name="creditLimit" placeholder="Enter your credit limit" required>
                    <label name="msgCredit" id="msgCredit"></label>
                </div>
            </div>
            <div class="input-box">
                <br>
                <input type="checkbox" id="checkbox">
                <span class="details">Remember me</span>
            </div>
            <div class="button">
                <input type="submit" value="Submit">
            </div>
            <div class="have-account">
                <a href="login.html" style="color:  #FF5722;">
                    <span class="details">Have an account</span>
                </a>
            </div>
        </form>
    </div>
</body>

</html>