<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0"
    metadata-complete="true">

    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>productDetails</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.ProductDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>productDetails</servlet-name>
        <url-pattern>/productDetails</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HomePage</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePage</servlet-name>
        <url-pattern>/HomePage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/LoginPage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/Signup</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ViewProductsServlet</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.ViewProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewProductsServlet</servlet-name>
        <url-pattern>/ViewProductsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userProfile</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.userProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userProfile</servlet-name>
        <url-pattern>/userProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cart</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.ShoppingCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>changeQuantity</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.changeQuantityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>changeQuantity</servlet-name>
        <url-pattern>/changeQuantity</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCartItem</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.deleteCartItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCartItem</servlet-name>
        <url-pattern>/deleteCartItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Checkout</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Checkout</servlet-name>
        <url-pattern>/Checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewOrder</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.NewOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewOrder</servlet-name>
        <url-pattern>/NewOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewUsers</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.ViewUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUsers</servlet-name>
        <url-pattern>/ViewUsers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ViewOrders</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.ViewOrders</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewOrders</servlet-name>
        <url-pattern>/ViewOrders</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewUserProfile</servlet-name>
        <servlet-class>com.rosebloom.controllers.servlets.adminServlets.ViewUserProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewUserProfile</servlet-name>
        <url-pattern>/ViewUserProfile</url-pattern>
    </servlet-mapping>

<!-- <welcome-file-list>
    <welcome-file>
        adminView\html\adminIndex.html
    </welcome-file>
</welcome-file-list> -->
</web-app>